.form-h1 {
    text-align: center;
    margin: 20px auto;
}

.form__icone {
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    background-color: #202020;
    border-radius: 20px;
    box-shadow: 5px 0 rgba(#050505, 1%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 420px;
    padding: 0 10px;
    margin: 0 auto;

}


.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(1, 1, 1, 0.5);

}




.input__form input {
    width: 400px;
    height: 60px;
    justify-content: center;
    background-color: #121212;
    border: none;
    color: #fff;
    outline: none;
    margin: 30px auto;
    border-radius: 20px;
    padding: 0 20px;
    text-align: center;



}





.input__form input::placeholder {
    color: #828282;
    padding: 0 110px;
    font-size: 17px;
}

.textarea__form textarea::placeholder {
    color: #828282;
    padding: 40px 80px;
    font-size: 17px;
}


.textarea__form textarea {
    width: 400px;
    height: 140px;
    border-radius: 20px;
    background-color: #121212;
    color: #fff;
    outline: none;
    border: none;
    padding: 20px 50px;


}
.textarea__form  {
    overflow: hidden;

}

.form__btn {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.form__btn button {
    padding: 20px 50px;
    border-radius: 25px;
    background-color: #3137C9;
    color: #fff;
    border: none;
}


.close__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;

}

@media (max-width:500px) {
    .form__icone {

        width: 100%;
        max-width: 320px;


    }
    .input__form input {
        width: 300px;

    }
    .textarea__form textarea{
        width: 300px;
        padding: 20px 10px;

    }


    .textarea__form textarea::placeholder {
        color: #828282;
        padding: 40px 80px;
        font-size: 15px;
    }

    .input__form input::placeholder {
        color: #828282;
        padding: 0 80px;
        font-size: 14px;
    }
}